<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">What should I eat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="suggest">Wie wärs mit </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="fridge">Rezept generieren</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="takeout">Takeouts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="recipes">Meine Rezepte</a>
          </li>
    </ul>
    
    <span class="navbar-text">
       Login
      </span>
    </div>
  </nav>